doctype html
html(lang='en')
  head
    title=title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    
    script(src='/javascripts/constants.js')
    script(src='/javascripts/main.js')

    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  body
    iframe(id='audio-iframe', src="../audio/backgroundaudio.mp3", allow="autoplay")
      audio(id='background-audio', controls='', autoplay='', loop='')
        source(src="../audio/backgroundaudio.mp3")
    div(class='container-fluid heropic main-container')
      div(class='row')
      div(class='row')
        div(class='col-sm-2')
        div(class='col-sm-8')
          block content
          block foot
        div(class='col-sm-2')
      div(class='row')

    #normalModal(class="modal")
      div(class="modal-dialog")
        div(class="modal-content")
        div(class="modal-header")
          button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
          h4(class="modal-title") A Minute Of Your Time
          
        div(class="modal-body")
          p Sharing your inputs with us could help those managing chronic stress and worry in experiencing a better, calmer tomorrow. We would love to have your permission to do so! 
          div(class="modal-footer")
          button(type="button" class="btn btn-default" data-dismiss="modal" onclick="sendFeedback()") I'll pass
          button(type="button" onclick="sendFeedback()" class="btn btn-blue-grey" data-dismiss="modal") Share