doctype html
html(lang='en')
  head
    title=title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    
    script(src='/javascripts/constants.js')
    script(src='/javascripts/main.js')

    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    iframe(id='audio-iframe', src="../audio/Background audio slower.mp3", allow="autoplay")
      audio(id='background-audio', controls='', autoplay='')
        source(src="../audio/Background audio slower.mp3")
    div(class='container-fluid heropic main-container')
      div(class='row')
      div(class='row')
        div(class='col-sm-2')
        div(class='col-sm-8')
          block content
          block foot
        div(class='col-sm-2')
      div(class='row')