block content

    div#body-container
        div#meditation-div
          p#meditation-text Let's spend the next 90 seconds helping you feel better...
          p#relax-timing
          button.btn.btn-primary#worry-btn(onclick="performRelaxationactivity()") Ready when you are!
