block content

    div#body-container
        div#meditation-text 
          p Let's spend the next 90 seconds helping you feel better...
          button.btn.btn-primary#worry-btn(onclick="performRelaxationactivity()") Ready when you are!
            