block content

    p#smileyHeader

    table
        tr
            th(class='btn btn-primary' onclick="smileyBtnClicked('1')") depresser
            th(class='btn btn-primary' onclick="smileyBtnClicked('2')") depressed
            th(class='btn btn-primary' onclick="smileyBtnClicked('3')") neutral
            th(class='btn btn-primary' onclick="smileyBtnClicked('4')") okay
            th(class='btn btn-primary' onclick="smileyBtnClicked('5')") not so sad