block content

    div#body-container
        div(class='title')
            p#smileyHeader How are you feeling today?
        //div#smiley-holder(class="row")
        div#smiley-holder(class="row")
            div(class='smiley smiley-5 col-xs-2' onclick="smileyBtnClicked('1')")
            div(class='smiley smiley-4 col-xs-2' onclick="smileyBtnClicked('2')")
            div(class='smiley smiley-3 col-xs-2' onclick="smileyBtnClicked('3')")
            div(class='smiley smiley-2 col-xs-2' onclick="smileyBtnClicked('4')")
            div(class='smiley smiley-1 col-xs-2' onclick="smileyBtnClicked('5')")