block content
    div#body-container
        h1#worryHeader WRITE YOUR WORRIES HERE 

        div#worry-form
            input#worry-text(type='text', name='worry-text-input', placeholder='Type Your Worries Away!')

        button.btn.btn-primary#worry-btn(onclick="worrySubmitted()") SEND WORRIES AWAY

        div#additional-text