extends layout

block content
    h1 WRITE YOUR WORRIES HERE 

    div.worry-form
        input#worry-text(type='text', placeholder='Type Your Worries Away!')

    button.btn.btn-primary(type='submit') SEND WORRIES AWAY