block content
    div#body-container
        div#worryHeader(class='title') WRITE YOUR WORRIES DOWN. 

        div#worry-form
            input#worry-text(type='text', name='worry-text-input', placeholder='Type Your Worries Away!')
            span(class='input-overlay')

        button.btn.btn-primary#worry-btn(onclick="worrySubmitted()") EVANESCO! VANISH!

        div#additional-text