@font-face {
  font-family: "Mank Sans Medium";
  src: url("../fonts/MankSans-Medium.ttf");
}

body {
  font-family: 'Mank Sans Medium', Fallback, sans-serif;
}

.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

.heropic {
  background-image: url(../images/Aurora.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: #FFFFF0;
  -webkit-filter: saturate(200%);
}

