@font-face {
  font-family: "Mank Sans Medium";
  src: url("../fonts/MankSans-Medium.ttf");
}

body {
  font-family: 'Mank Sans Medium', Fallback, sans-serif;
}

.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}
/* Main */

#normalModal {
  background-color: white;
  opacity: 50%;
}

.modal-btn {
  justify-self: center;
  padding-left: 20px;
  padding-right: 20px;
}

.main-container {
  display: grid;
}

#body-container {
  display: grid;
  grid-gap: 2vh;
}

#body-container input {
  overflow-wrap: break-word;
}

.heropic {
  background-image: url(../images/Aurora.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  height: 100vh;
  color: #FFFFF0;
  -webkit-filter: saturate(200%);
}

.title {
  text-align: center;
  font-size: 8vh;
}

/* Audio */
#audio-iframe {
  position: absolute;
  left: -9999px;
}

#background-audio {
  position: absolute;
  left: -9999px;
  /* visibility: hidden; */
}

/* Smileys */

.smiley {
  display: grid;
  justify-self: center;
  background-size: cover;
  height: 13vh;
  width: 13vh;
  cursor: pointer;
  border-radius: 13vh;
  box-shadow: 0.2vh 0.2vh 0.3vh #222222;
  margin-right: 50px;
}

#smiley-holder {
  /* display: grid; */
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  margin-left: 100px;
}

.smiley-1 {
  background-image: url(../images/smileymost.png);
}

.smiley-1:hover {
  background-image: url(../images/smileymost-hover.png);
  transition: 0.3s;
}

.smiley-2 {
  background-image: url(../images/smileymore.png);
}

.smiley-2:hover {
  background-image: url(../images/smileymore-hover.png);
  transition: 0.3s;
}

.smiley-3 {
  background-image: url(../images/smileymeh.png);
}

.smiley-4 {
  background-image: url(../images/smileyless.png);
}

.smiley-4:hover {
  background-image: url(../images/smileyless-hover.png);
  transition: 0.3s;
}

.smiley-5 {
  background-image: url(../images/smileyleast.png);
}

.smiley-5:hover {
  background-image: url(../images/smileyleast-hover.png);
  transition: 0.3s;
}

.faded {
  opacity: 0.2;
}

/* Worry Page */

#worry-form textarea {
  width: 100%;
  height: 20vh;
  font-size: 3vh;
  color: #FFFFF0;
  background: #222222;
  opacity: 0.5;
}

.custom-btn {
  opacity: 0.8;
  color: black;
  height: 8vh;
  width: 100%;
  font-size: 2em;
  font-weight: bold;
}

.custom-btn:focus {
  outline: darkslategray;
}

.input-overlay {
  position: absolute;
}

/* Meditation Page */

#meditation-div {
  text-align: center;
}

#meditation-text {
  text-align: center;
  font-size: 8vh;
}

#relax-timing {
  text-align: center;
  font-size: 8vh;
}

/* #meditation-button {
  background: #333333;
  font-size: 5vh;
  border-radius: 0.5vh;
  box-shadow: 0.1vh 0.1vh 0.1vh #222222;
  cursor: pointer;
} */


/* Transitions */

@keyframes fallout
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}